attrs==17.4.0
bottle==0.12.13
cheroot==6.0.0
CherryPy==13.1.0
colorama==0.3.9
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.1.0
pluggy==0.6.0
portend==2.2
py==1.5.2
pypiwin32==220
pytest==3.3.2
pytz==2017.3
six==1.11.0
tempora==1.10
